@model FeedConsumptionBulkServiceVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center shadow pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active">Feed Consumption (Bulk)</li>
            </ol>
            <div>
                <a asp-action="Index"><i class="fa fa-arrow-left mr-2"></i>Back To List</a>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="">
            <div class="card-header">
                <h5 class="card-title">Feed Consumption (Bulk)</h5>
            </div>

            <div class="card-body w-75 mx-auto">
                <form asp-action="Create" asp-controller="FeedConsumptionBulk" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
                    {
                        <div class="alert alert-warning" id="alte">
                            @Model.ErrorMessage
                        </div>
                    }
                    <div class="row mx-2">
                        <div class="col-md-6 col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="Date" class="control-label"> Date</label>
                                <input asp-for="Date" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="FeedCategoryId" class="control-label">Feed Category</label>
                                <select asp-for="FeedCategoryId" class="form-control" asp-items="ViewBag.feedCategoryList">
                                    <option value="">-- Select Feed Category--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="ShadeNo" class="control-label">Shade Number</label>
                                <input asp-for="ShadeNo" class="form-control" placeholder="Shade No.">
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="LineNo" class="control-label">Line Number</label>
                                <input asp-for="LineNo" class="form-control" placeholder="Line No.">
                            </div>
                        </div>


                        <div class="col-md-6 col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="Quantity" class="control-label">Consumtion Quantity</label>
                                <input asp-for="Quantity" class="form-control" placeholder="Quantity">
                            </div>
                        </div>
                    </div>
                    <div class="row mx-2 float-right">
                        <div class="form-group col-sm-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
            

            </form>
        </div>
    </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#Feed').addClass('menu-open');
            $('#FeedConsumptionBulk').addClass('active');

        });
    </script>
    <script>
        $(document).ready(function () {
            $('#FeedCategoryId').change(function () { // Listen for change event on the select element
                var categoryId = $(this).val(); // Get the selected categoryId

                $.ajax({
                    url: '/FeedEntry/GetUnitName', // Replace YourController with the appropriate controller name
                    type: 'GET',
                    data: { categoryId: categoryId }, // Pass the selected categoryId as a parameter
                    success: function (data) {
                        var unitName = data.unitName; // Retrieve the unitName from the response

                        $('#Quantity').attr('placeholder', 'Quantity in ' + unitName);
                    }
                });
            });

        });

    </script>
    <script>
        window.setTimeout(function () {
            $("#alte").fadeTo(500,).slideUp(500, function () {
                $("#alte").remove();
            });
        }, 4000);
    </script>

  }


